body {
    /* background: #007bff; */
    background: linear-gradient(#278B8C, #21704F);
    background-repeat: no-repeat;
    height: 400px;
    /* background: radial-gradient(to right, #0062E6, #33AEFF) */
  }
  
.entry {
  font-family: "Fugaz One", cursive;
}


