body {
    /* background: #007bff; */
    background: linear-gradient(#278B8C, #32C3C6);
    background-repeat: no-repeat;
    height: 400px;
    /* background: radial-gradient(to right, #0062E6, #33AEFF) */
  }
  
.entry {
  font-family: "Fugaz One", cursive;
}


.dropdown-content {
  border-radius: 25px;
  background: #F78E29;
  padding: .5rem;
  color: beige;
  display: flex;
  flex-wrap: wrap;
  min-width: 9rem;
  justify-content:center;
  margin: .5rem;
}

.dropdown {
  display: flex;
  flex-wrap: wrap;
  margin: .5rem;
  justify-content:center;

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class="dropdown"] {
    width: 90%;
    justify-content:center;
  }
  [class="dropdown-content"] {
    width: 90%;
    justify-content:center;
    margin:.5rem;

  }
}