
.feedcard-container {
  margin: auto;
  width: 40%;
}


@media only screen and (max-width: 768px) {
  .feedcard-container {
    width: 90%;
  }
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}



.feed-card {
  background: #fff;
  border-radius: 2px;
  margin: 1rem;
  position: relative;
  width: 100%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  border-radius: 1rem;
  float: left;
  
}

.feed-card > .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  border-radius: 1rem;
}
.feed-card > .img-container > img {
  width: 100%;
  max-height: 300px;
}

.feed-card > .content {
  padding-right: 1rem;
  font-size: 12px;
  display: flex;
  margin: 1rem;
  /* align-items: center;
  justify-content: center; */
}

.feed-card > .content > ul {
  list-style-type: none;
}

.feed-card > .content > ul > li {
  margin-top: 10px;
}

.linkedContent {
  font-size: medium;
}

.avatar-image{
  border-radius: 1rem;
}


