* {
    box-sizing: border-box;
    font-family: sans-serif;
  }

.team-container {
    padding-top: 50px;
    height: 100%;
    display: flex;
    /* width:1200px; */
    flex-flow: row wrap;
    padding: 20px;
    justify-content: center;
    align-content: stretch;
    overflow: auto;
  }
  

.restaurant-card {
    background: #fff;
    border-radius: 2px;
    height: 450px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    border-radius: 1rem;
  }
  
  .restaurant-card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    border-radius: 1rem;
    
  }
  .restaurant-card > .img-container > img {
    width: 100%
  }
  
  .restaurant-card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .restaurant-card > .content > ul {
    list-style-type: none;
  }
  
  .restaurant-card > .content > ul > li {
    margin-top: 18px;
  }
  

  